<div class="card">
    <h3 class="card-header">
        <div style="float: left;">{{title}}</div>
        <div style="float: right; font-weight: lighter;">Post by: {{user.name}} on {{formatDate date_created 'MM/DD/YYYY'}}</div>
    </h3>
    <p class="card-body">
        {{{content}}} <!-- Use triple curly braces to render HTML content -->
    </p>
</div>
