<div class="card">
    <h4 class="card-header">
        <div>{{title}}</div>
        <div style="font-weight: lighter;">Post by: {{user.name}} {{formatDate date_created 'MM/DD/YYYY'}}</div>
    </h4>
    <div>
    <p class="card-body">
        {{{content}}} <!-- Use triple curly braces to render HTML content -->
    </p>
    </div>
</div>


<!-- Implemented template from previous Project 2 to help with handlebars. -->