<div class="card">
  <h3 class="card-header">Create New Post</h3>

  <form id="createPost" class="card-body">
    <div style="margin-bottom: 10px;">
      <label for="create_title">Title</label>
      <input type="text" id="create_title">
    </div>
    <div style="margin-bottom: 10px;">
      <label for="create_content">Content</label>
      <textarea style="width: 100%; font-size: large; padding: 5px;" rows="5" id="create_content"></textarea>
    </div>
    <button style="font-size: medium" class="btn" type="submit">Submit Post</button>
  </form>
</div>

<script src="/js/createpost.js"></script>


<!-- Implemented template from previous Project 2 to help with handlebars. -->