<div class="card">
  <h3 class="card-header" style="padding-bottom: 1.5%;">Create New Post</h3>

  <form id="createPost" class="card-body">
    <div style="margin-bottom: 10px;">
      <label for="create_title">Title</label>
      <input style="width: 100%; font-size: large; padding: 5px;" type="text" id="create_title">
    </div>
    <div style="margin-bottom: 10px;">
      <label for="create_content">Content</label>
      <textarea style="width: 100%; font-size: large; padding: 5px;" rows="5" id="create_content"></textarea>
    </div>
    <button style="font-size: large; padding: 5px;" class="btn" type="submit">Create</button>
  </form>
</div>

<script src="/js/createpost.js"></script>