{{#each post as |post|}}
  <a href="/dashboard/update/{{id}}">
    <div class="card">
      <h5 class="card-header">
        <div style="float: left; padding: 0px 10px">{{title}}</div>
        <div style="font-weight: lighter;">Posted on {{formatDate date_created 'MM/DD/YYYY'}}</div>
      </h5>
    </div>
  </a>
{{/each}}

<button class="btn" style="float: right;" style="background-color: rgb(72, 160, 141);" id="create_post" type="button">Create Your New Post</button>

<script src="/js/dashboard.js"></script>


<!-- Implemented template from previous Project 2 to help with handlebars. -->