<div style="float: right;" class="columns">
  <div class="column"></div> 

  <div class="column is-4">
    <form id="loginForm">
      <div class="field">
        <label class="label" for="login_username">Username</label>
        <div class="control">
          <input id="login_username" class="input login_username" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label" for="login_password">Password</label>
        <div class="control has-icons-left">
          <input id="login_password" class="input login_password" type="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button id="submitButton" class="button is-link" style="width: 50%; padding: 5px; color: white; background-color: rgb(113, 183, 168);">LOGIN</button>
        </div>
        <div class="control">
          <button class="button is-link">
            <a href="/user/signup">Sign Up</a>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>


<!-- Implemented template from previous Project 2 to help with handlebars. -->