{{#each post as |post|}}
  {{> post_new}}
  {{#each comments as |cmnt|}}
    <div class="card">
      <h3 class="card-header"></h3>
      <h5 style="padding: 0px 20px;"class="card-body">{{comment}}</h5>
      <h6 style="font-weight: lighter; padding: 0px 20px;">Comment by: {{user.name}} {{formatDate date_created 'MM/DD/YYYY'}}</h6>
    </div>
  {{/each}}

  <script> let post_id = {{post.id}}</script>

  <div id="newcomment">
    <textarea id="newcommenttext"></textarea>
    <button id="addcomment" class="btn" type="button">Add Comment</button>
    <button style="font-size: medium" type="button"><a href="/">Cancel</a></button>
  </div>
{{/each}}

<script src="/js/addcomment.js"></script>