  <div style="float: right;" class="columns">
  <h3 class="column" style="color: rgb(72, 160, 141);" class="card-header">Sign Up</h3>

<form id="createForm" class="card-body" style="font-size:medium;">
  <div>
    <label for="create_name">Name</label>
    <input style="width: 100%; font-size: medium;" type="text" id="create_name"/>
  </div>
  <div>
    <label for="create_username">Username</label>
    <input style="width: 100%; font-size: medium;" type="text" id="create_username"/>
  </div>
  <div>
    <label for="create_email">Email</label>
    <input style="width: 100%; font-size:medium;" type="email" id="create_email"/>
    <i class="fas fa-envelope"></i>
  </div>
  <div>
    <label for="create_password">Password</label>
    <input style="width: 100%; font-size: medium;" type="password" id="create_password"/>
    <i class="fas fa-lock"></i>
  </div>
  <div>
    <button class="btn">Submit</button>
    <button class="button is-link is-light"><a href="/user/login">Cancel</a></button>
  </div>
</form>
</div>

<script src="/js/signup.js"></script>


<!-- Implemented template from previous Project 2 to help with handlebars. -->