<div class="card">
  <h3 style="color: rgb(72, 160, 141);" class="card-header">Update or Delete Post</h3>

  <form id="updatePost" class="card-body">
    <div style="margin-bottom: 10px;">
      <label style="font-size: large;" for="update_title">Title</label>
      <input style="font-size: medium;" type="text" id="update_title" value="{{post.title}}">
    </div>
    <div style="margin-bottom: 10px;">
      <label style="font-size: large;" for="update_content">Content</label>
      <textarea style="font-size: medium; padding: 5px;" rows="5" id="update_content">{{post.content}}</textarea>
    </div>
    <button style="font-size: medium" class="btn" type="submit">Update</button>
    <button style="font-size: medium" class="btn" id="deletePost" type="button">Delete</button>
    <button style="font-size: medium" type="button"><a href="/dashboard/">Cancel</a></button>
  </form>
</div>

<script> let id = {{post.id}}</script>
<script src="/js/updatepost.js"></script>